body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #888;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-top: 2.5%;
}

img {
    width: 90%;
    transition: transform 1.1s ease-in-out;
}

img:hover {
    transform: scale(3.5);
    transform: skew(20deg, 20deg);
    z-index: 20;
}

h1 {
    padding-left: 1rem;
    background-color: #666;
    text-shadow: 2px 2px #888;
}

/*************************
        2 COLUMNS 
*************************/

@media screen and (min-width: 600px) {
    li {
        width: 50%;
    }

}

/*************************
        4 COLUMNS 
*************************/

@media screen and (min-width: 1200px) {
    li {
        width: 25%;
    }

}
